/*  media query - mobile ______________________________________________________________________________________________*/

@media (max-width: 575.98px) {

    #splash-screen {
        #boton-visit {
            width: 20%;
        }
    }

    h1 {
        font-size: 7rem;
    }
    
    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    header {
        #navbar {
            padding-left: 20px;
            padding-right: 20px;
            #navbar-desplegable {
                margin-top: 20px;
                gap: 15px;
            }
        }
    }

    .titulos {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        display: block;
    }

    // page - index

    #portada {
        .portada-texto {
            h1 {
                font-size: 4.5rem;
                flex-direction: column;
            }
            p {
                font-size: 1.7rem;
            }
        }
    }

    // section - sobre mí

    #sobre-mi {
        .titulos {
            height: 80px;
        }
    }

    .contenedor-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "texto1 imagen1"
        "texto1 imagen2";
        margin: auto;
        width: 90%;
        height: 95vh;
        padding-bottom: 100px;
        .contenedor-img-grid1 {
            grid-area: imagen1;
            transform: translateY(40px);
        }
        .contenedor-img-grid2 {
            grid-area: imagen2;
            transform: translateY(-18px);
        }
        .texto-grid-1 {
            grid-area: texto1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.2rem;
        }
        img {
            aspect-ratio: 3 / 4;
            height: auto;
            display: block;
        }
    }

    // section - proyectos

    #proyectos {
        height: 60vh;
        .titulos {
            height: 200px;
        }
    }

    .contenedor-proyectos {
        .div-proyectos {
            height: 40px;
            a {
                margin-left: 27px;
            }
        }
    }
    
    // page - la opera

    #laopera {
        .titulos {
            margin-top: 100px;
            height: 150px;
            position: relative;
            .flecha-link {
                position: absolute;
                top: 15px;
                right: 30px;
            }
        }
        .descripcion {
            padding-bottom: 50px;
        }
    }

    .botones-laopera {
        padding-left: 0;
        padding-right: 0;
        width: 80%;
        margin: auto;
        gap: 50px;
        font-size: 1.3rem;
    }

    .grid-anuncios {
        grid-template-columns: 1fr; 
        gap: 20px;
    }

    .grid-reels {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
    }

    // page - crecer con memoria

    #crecerconmemoria {
        .titulos {
            margin-top: 100px;
            height: auto;
            position: relative;
            h1 {
            font-size: 6.3rem;
            }
            .flecha-link {
                position: absolute;
                top: 45px;
                right: 30px;
            }
        }
        .descripcion {
            padding-top: 60px;
        }
        .video-ccm {
            .titulo-video {
                font-size: 1.3rem;
            }
        }
    }



    #modal-anuncios {
        .video-titulo {
            top: 250px;
        }
    }

    // footer

    footer {
        height: 150px;
        .footer-contenido {
            padding-right: 37px;
        }
    }
}